{
  "version": 1,
  "privacyManifest": {
    "collection": [
      {
        "category": "analytics",
        "identifier": "firebase_analytics",
        "userTrackingEnabled": false,
        "linkedToUser": false,
        "purposes": ["appFunctionality", "analytics"],
        "retention": "noLongerThanNecessary"
      }
    ],
    "requiredReasonAPIs": [
      {
        "api": "NSPrivacyAccessedAPICategoryUserDefaults",
        "reasons": ["CA92.1"]
      },
      {
        "api": "NSPrivacyAccessedAPICategoryFileTimestamp",
        "reasons": ["C617.1", "0A2A.1"]
      },
      {
        "api": "NSPrivacyAccessedAPICategorySystemBootTime",
        "reasons": ["35F9.1"]
      },
      {
        "api": "NSPrivacyAccessedAPICategoryDiskSpace",
        "reasons": ["E174.1"]
      }
    ],
    "tracking": {
      "usedForTracking": false
    }
  }
}
